---

interface Props{
    original_word: string; /* Por lo general, viene en español */
    second_word: string; /* Por lo general, viene en inglés */
    third_word: string; /* Por lo general, viene en aleman */

    original_word_meaning: string; /* Por lo general, viene en español */
    second_word_meaning: string; /* Por lo general, viene en inglés */
    third_word_meaning: string;/* Por lo general, viene en aleman */

    video_url: string; 
}

const {
    original_word, second_word, third_word, 
    original_word_meaning, second_word_meaning, third_word_meaning,
    video_url
} = Astro.props;

---

<article>

    <div>
        <p>{original_word}</p>
    </div>

    <ul>
        <li>
            Español
            <section>
                {original_word_meaning}
            </section>
        </li>
        <li>
            Inglés
            <section>
                {second_word_meaning}
            </section>
        </li>
        <li>
            Alemán
            <section>
                {third_word_meaning}
            </section>
        </li>
    </ul>

    <div>
        <h2>Lengua de señas mexicana > </h2> <!-- El > hay que cambiarlo por un icon -->
        
    </div>

    <div>
        <iframe src={video_url} title="Video de la palabra" />
    </div>
</article>